{%extends 'base.html'%}

{%block title%} Add Task{%endblock%}

{%block content%}
    <div class="container">
        <div class="row">
            {% if error == True %}
                <p class="text-danger">Duplicate task found</p>
            {% elif user.is_anonymous == True%}
                <h1 class="text-center my-3">You are not authorized to access this page.</h1>
                <p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
            {% else %}
                <div class="col-6 offset-3">
                    <h1 class="text-center my-3">
                        Add A Task
                    </h1>
                    <form action="{% url 'todolist:add_task'%}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="task_name">Task Name:</label>
                            <input type="text" class="form-control" id="task_name" name="task_name" value="{{task_name}}" maxlength="50" required>
                        </div>
                        <div class="mb-3">
                            <label for="description">Description:</label>
                            <textarea class="form-control" name="description" required>{{description}}</textarea>
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-success" value="Add Task">
                        </div>
                    </form>
                </div>
            {% endif %}
            
        </div>
    </div>
{%endblock%}