{%extends 'base.html'%} 
{%block title%}Update Profile{%endblock%}
{%block content%} 
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            {% if user.is_anonymous == True%}
                <h1 class="text-center my-3">You are not authorized to access this page.</h1>
                <p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
            {% else %}
                <h1 class="text-center my-3">
                    <h1 class="text-center">Update Profile</h1>
                    <form action="{% url 'todolist:change_password'%}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" value="{{first_name}}" maxlength="20" required>
                        </div>
                        <div class="mb-3">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" value="{{last_name}}" maxlength="20" required>
                        </div>
                        <div class="mb-3">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" value="{{password}}" maxlength="20">
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Confirm" class="btn btn-success">
                        </div>
                    </form>
                </h1>
            {% endif %}
        </div>
    </div>
</div>
{%endblock%}




{% comment %} {%if is_user_authenticated == False%}
<h1>Invalid User Credentials</h1>
<p>Check if the username and password is correct.</p>

{%else%}
<h1>User Password Successfully Updated</h1>
<p>The password has been successfully updated</p>

{%endif%} {% endcomment %}
