{% extends 'base.html' %}
{% block title %}Events{% endblock %}
{% block content %}
    <div class="text-center my-3">
        <h1>{{task_name}}</h1>
        <h3>Description</h3>
        <p>{{description}}</p>
        <h3>Status</h3>
        <p>{{status}}</p>
        <a href="{% url 'todolist:index' %}">Back to index page.</a>

        <button class="btn btn-primary mx-1 text-decoration-none">
            <a href="{% url 'todolist:update_task' id %}" class="text-light text-decoration-none">Back to Events</a>
        </button>
    </div>
{% endblock  %}
