
{% extends 'base.html'%} 
{% block title %} Home {% endblock %} 
  {% block content %} 
  <h1 class="text-center my-3">
    Welcome {{user.first_name}} {{user.last_name}}!
  </h1>
  <div class="container">
    <div class="row">
      <div class="text-center mb-3"> <h4>My Tasks</h4></div>
    {% if todoitem_list and user.is_anonymous == False%}
      
          <ul class="list-group col-lg-2 offset-lg-5 text-center">
            {% for todoitem in todoitem_list %}
            <li class="list-group-item">
              <a href="{% url 'todolist:viewtodoitem' todoitem.id%}" class="text-decoration-none"
                >{{todoitem.item_name}}</a
              >
            </li>
            {% endfor %}
          </ul>
        
      {% elif user.is_anonymous == True%}
          <h1 class="text-center my-3">You are not authorized to access this page.</h1>
          <p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
      {% else %}
        <p class="text-center">No tasks have been created.</p>
      {% endif %}
      <div class="text-center mb-3"> <h4>My Events</h4></div>
      {% if event_list and user.is_anonymous == False %}
        <ul class="list-group col-lg-2 offset-lg-5 text-center">
          {% for event in event_list %}
          <li class="list-group-item">
            <a href="{% url 'todolist:viewevent' event.id%}" class="text-decoration-none"
              >{{event.event_name}}</a
            >
          </li>
          {% endfor %}
        </ul>
      {% elif user.is_anonymous == True%}
        <h1 class="text-center my-3">You are not authorized to access this page.</h1>
        <p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
      {% else %}
        <p class="text-center">No events have been created.</p>
    {% endif %}
    </div>
  </div>
   
    {% comment %} {% elif todoitem_list.count == 0 and user%}
      <p>No tasks have been created.</p>
    {% else %}
      <h1 class="text-center my-3">You are not authorized to access this page.</h1>
      <p class="text-center">Kindly login <a href="login">here</a></p>
    {% endif %}  {% endcomment %}
{% endblock %}