{%extends 'base.html'%} 
{%block title%}Register{%endblock%}
{%block content%} 
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center my-3">
                {%if error == True%}
                    <p class="text-danger"> Invalid user credentials, please check your username and password</p>
                {%endif%}
                <h1 class="text-center">Register</h1>
                <form action="{% url 'todolist:register'%}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{username}}" maxlength="20" required>
                    </div>
                    <div class="mb-3">
                        <label for="first_name">First Name:</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" value="{{first_name}}" maxlength="20" required>
                    </div>
                    <div class="mb-3">
                      <label for="last_name">Last Name:</label>
                      <input type="text" class="form-control" id="last_name" name="last_name" value="{{last_name}}" maxlength="20" required>
                  </div>
                  <div class="mb-3">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{email}}" maxlength="20" required>
                </div>
                <div class="mb-3">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" id="password" name="password" value="{{password}}" maxlength="20" required>
              </div>
              <div class="mb-3">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" value="{{confirm_password}}" maxlength="20" required>
            </div>
                    <div class="text-center">
                        <input type="submit" value="Register" class="btn btn-success">
                    </div>
                </form>
            </h1>
        </div>
    </div>
</div>
{%endblock%}
















{% comment %} {%if
is_user_authenticated == False%}
<h1>Something went Wrong</h1>
<p>Please contact your administrator or reset your password</p>
<a href="{% url 'todolist:index' %}">Back to index page</a>
{%endif%} {% endcomment %}
